/* GLOBAL STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: barlowSemiBold, sans-serif;
    src: url(/fonts/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: frauncesBold, serif;
    src: url(/fonts/Fraunces_72pt-Bold.ttf);
}

@font-face {
    font-family: frauncesBlack, serif;
    src: url(/fonts/Fraunces_72pt-Black.ttf);
}

body {
    font-size: 100%;
    font-size: 1.125rem;
    background-color: #1E1E1E;
    
}

.main-wrapper {
    max-width: 1440px;
    margin: 0px auto;

}

:root {
    /* Colours */
    --white: #fff;
    --black: #000;
    --blue-950: #052C3B;
    --blue-800: #19536C;
    --green-800: #24554a;
    --green-600: #3E7467;
    --green-500: #458D7E;
    --green-300: #90D4C6;
    --grey-950: #24303E;
    --grey-600: #5B636D;
    --grey-550: #808397;
    --grey-400: #A7AAAD;
    --red-400: #FE7766;
    --yellow-500: #fad400;
}


a {
    cursor: pointer;
    text-decoration: none;
}

  /* FONT SIZES */
  
.text-preset-1 {
    font-size: 3.5rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 9px;
    color: var(--white);
}

.text-preset-2 {
    font-size: 2.625rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 6px;
}

.text-preset-3 {
    font-size: 2.5rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-preset-4 {
    font-size: 2rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-preset-5 {
    font-size: 1.75rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-preset-6 {
    font-size: 1.25rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 4px;
}

.text-preset-7 {
    font-size: 1.125rem;
    font-family: frauncesBlack, serif;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-preset-8 {
    font-size: 0.9375rem;
    font-family: frauncesBlack, serif;
    line-height: 1.65;
    letter-spacing: 1px;
}

.text-preset-9 {
    font-size: 1.25rem;
    font-family: barlowSemiBold, sans-serif;
    line-height: 1.25;
    letter-spacing: 0px;
}

.text-preset-10 {
    font-size: 1.125rem;
    font-family: barlowSemiBold, sans-serif;
    line-height: 1.65;
    letter-spacing: 0px;
}

.text-preset-11 {
    font-size: 1rem;
    font-family: barlowSemiBold, sans-serif;
    line-height: 1.70;
    letter-spacing: 0px;
}

.text-preset-12 {
    font-size: 0.875rem;
    font-family: barlowSemiBold, sans-serif;
    line-height: 1.80;
    letter-spacing: 0px;
}


h3 {
    padding-bottom: 25px;
}

/* HEADER  */

.background-header {
    height: 800px;
    background-image: url("/images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0px auto;
}


header .content {
    display: flex;
    flex-direction: column

}

header nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 30px 40px;
   
   
}

header nav a {
    color: var(--white);
    padding: 0px 15px;

    
}

header nav .logo {
    height: 33px;
    width: 170px;
}

header h1 {
    font-family: var();
    text-align: center;
}

.heading-and-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    row-gap: 70px;
    padding-top: 100px;
}

header .contact-btn {
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--grey-950);
    padding: 10px 12px;
    font-weight: 900;
    border-radius: 28px;

}




/* GRID SECTION */
.grid-blocks {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    max-width: 720px;
    height: 600px;
}

.grid-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);


    & h3 {
        text-align: center;

    }

    & p {
        padding-bottom: 20px;
        color: var(--grey-550);
    }

}



.grid-block-1 a {
    color: var(--grey-950);
    text-transform:uppercase;
    font-weight: 900;
    position: relative;
}

.grid-block-1 a::after {
    content: "";
    background: var(--yellow-500);
    border-radius: 28%;
    opacity: 25%;
    height: 10px;
    width: 120%;
    position: absolute;
    bottom: -2px;
    left: -10%;
}


.grid-block-2 {
    background-image: url("/images/desktop/image-transform.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.grid-block-3 {
    background-image: url("/images/desktop/image-stand-out.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-block-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);

    & h3 {
        text-align: center;
    }
    
    & p {
        padding-bottom: 20px;
          color: var(--grey-550);
    }
}

.grid-block-4 a {
    color: var(--grey-950);
    text-transform:uppercase;
    font-weight: 900;
    position: relative;
}


.grid-block-4 a::after {
    content: "";
    background: var(--red-400);
    border-radius: 28%;
    opacity: 25%;
    height: 10px;
    width: 120%;
    position: absolute;
    bottom: -2px;
    left: -10%;
}



.grid-block-5 {
    background-image: url("/images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


.grid-block-5 p {
    width: 350px;
    text-align: center;
    padding-bottom: 50px
}

.grid-block-6 {
    background-image: url("/images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.grid-block-6 p {
    width: 350px;
    text-align: center;
    padding-bottom: 50px
}

.inner-padding {
    padding-inline: 60px
}

/* BOTTOM IMAGES */

.flex-images{
    display: flex;

}

/* TESTIMONIAL */

.testimonals {
    background-color: var(--white);
    padding: 100px 40px;

    & h2 {
        text-transform: uppercase;
        padding-bottom: 40px;
        color: var(--grey-400);
        text-align: center;
    }  
}

.testimonial-wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: start;
}

.testimonals .testimonal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    max-width: 300px;
    color: var(--grey-600);
}

.testimonals .testimonal-image {
    border-radius: 50%;
}

.testimonals .testimonal .name {
    font-weight: 900;
    color: var(--grey-950);

}

.testimonals .testimonal .title {
    font-weight: 400;
    color: var(--grey-400);
    margin-top: -30px;

}


/* FOOTER */
footer {
    background-color: var(--green-300);
    height: 350px;
    padding: 50px 0px;
 

   
}



footer nav a {
    color: var(--green-500);
    padding: 0px 15px;

    
}

footer nav .logo {
    height: 33px;
    width: 170px;
    color: var(--green-600);
   
}

footer .socials {
    display: flex;
    gap: 15px;
}


footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* ATTRIBUTION TO FRONTEND-MENTOR IN FOOTER */
.attribution { 
    font-size: 12px; 
    text-align: center;
    padding: 10px 0px; 
}

.attribution a { 
    color: #f5f5f5; 
}



/* RESPONSIVE */

@media  screen and  (max-width: 768px) {

}


@media screen and (max-width: 375px){
    
}




